<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442058357078-bjdq423nusba3bdkevoh7rp78uo26cv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442058357078-bjdq423nusba3bdkevoh7rp78uo26cv4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>442058357078-4bcvgegfl0lbkfan92q1nia1pcibr1qd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCngTi8mQYCbGTJ7bxvaKSG3gSBewJ7VD0</string>
	<key>GCM_SENDER_ID</key>
	<string>442058357078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.longmarket</string>
	<key>PROJECT_ID</key>
	<string>long-market</string>
	<key>STORAGE_BUCKET</key>
	<string>long-market.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442058357078:ios:8da4b66b6c339466317ef7</string>
	<key>DATABASE_URL</key>
	<string>https://long-market-default-rtdb.firebaseio.com</string>
</dict>
</plist>